
 @charset "utf-8";
/**
 * @file 首页
 */
 .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 900;
    text-align: center;
    -webkit-transition: all .5s initial;
    transition: all .5s initial
}
.activity-box {
    position: relative;
}
.buy-btn {
    position: absolute;
    display: block;
    width: 150px;
    height: 46px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -43px;
    background: linear-gradient(#fc6135, #e20000);
    color: #ffffff;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
}
.rule-btn {
    position: absolute;
    left: 50%;
    bottom: 2%;
    margin-left: -45px;
    width: 90px;
    color: #517e5d;
    text-decoration: underline;
}
.modal-rule-win {
    display: none;
    position: fixed;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  
}
.rule-detail {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 30px;
    border-radius: 4px;
    background-color: #fff;
}
.rule-title {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}
.rule-index {
    list-style: decimal;
    margin-left: 20px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    color: rgb(102,102,102);
}
.confirm-btn {
    display: block;
    border-top: 1px solid rgb(226,226,226);
    margin: 0 -20px;
    margin-top: 30px;
    padding: 11px 0;
    color: rgb(76,164,98);
    font-size: 16px;
    text-align: center;
}
.indexb-panel {
    box-sizing: border-box;
    height: 613px;
    padding-top: 50px;
    text-align: center;
    background-size: 540px 613px;
    background-origin: center bottom;
    background-repeat: no-repeat;
}


/**
 * @file 基础代码
 */
body {
    min-height: 100%;
    max-width: 540px;
    padding: 0;
    margin: 0 auto;
}
.clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }