
 @charset "utf-8";
/**
 * @file 首页
 */
 .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 900;
    text-align: center;
    -webkit-transition: all .5s initial;
    transition: all .5s initial
}

.nav-btn {
    position: relative;
    margin-top: 15px;
    height: 19px;
}
.nav-btn-menu {
    float: left;
    position: relative;
    margin-left: 15px;
    width:18px;
    height: 18px;
}
.nav-btn-menu:before, .nav-btn-menu:after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-btn-menu::before {
    width: 100%;
    height: 13px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.nav-btn-menu::after {
    margin-top: 6px;
    width: 100%;
    height: 0px;
    border-top: 1px solid #333;
}

.nav-log-link {
    display: inline-block;
    height: 50px;
}
.nav-logo-1 {
    width: 90px;
    height: 22px;
    fill: #333;
    margin-top: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.nav-logo-2 {
    position: absolute;
    display: block;
    width: 11px;
    height: 18px;
    left: 50%;
    top: 14px;
    margin-left: -10px;

}


.nav-btn-center {
    float: right;
    position: relative;
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.nav-btn-center::before {
    content: '';
    top: 0;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.nav-btn-center::after {
    bottom: 0;
    left: 0;
    width: 18px;
    height: 9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.nav-btn-center:before, .nav-btn-center:after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    border: 1px solid #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-btn-menu-on:after {
    top: 0;
    height: 19px;
}



.nav-place {
    height: 50px;
    
}

.nav-center {
    position: fixed;
    top: 50px;
    left: 0;
    min-width:100%;
    height: 0;
    z-index: 800;
    background-color: #fff;
    overflow: scroll;
}
.nav-center-login {
    margin-top: 50px;
    color: #333;
}
.nav-center-login::before {
    border-color: #333;
    border-radius: 8px;
}

.nav-center-login, .nav-center-register {
    display: block;
    width: 275px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}



.nav-menu {
    position: fixed;
    top: 50px;
    left: 0;
    min-width:100%;
    height: 0;
    z-index: 800;
    background-color: #fff;
    overflow: hidden;

    
}
.nav-menu-ul {
    width: 275px;
    padding: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu-link {
    display: block;
    font-size: 16px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    color: #333;
}
.nav-menu-buy {

}





.activity-box {
    position: relative;
}
.buy-btn {
    position: absolute;
    display: block;
    width: 150px;
    height: 46px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -43px;
    background: linear-gradient(#fc6135, #e20000);
    color: #ffffff;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
}
.rule-btn {
    position: absolute;
    left: 50%;
    bottom: 2%;
    margin-left: -45px;
    width: 90px;
    color: #517e5d;
    text-decoration: underline;
}
.modal-rule-win {
    display: none;
    position: fixed;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  
}
.rule-detail {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 30px;
    border-radius: 4px;
    background-color: #fff;
}
.rule-title {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}
.rule-index {
    list-style: decimal;
    margin-left: 20px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    color: rgb(102,102,102);
}
.confirm-btn {
    display: block;
    border-top: 1px solid rgb(226,226,226);
    margin: 0 -20px;
    margin-top: 30px;
    padding: 11px 0;
    color: rgb(76,164,98);
    font-size: 16px;
    text-align: center;
}
.indexb-panel {
    box-sizing: border-box;
    height: 613px;
    padding-top: 50px;
    text-align: center;
    background-size: 540px 613px;
    background-origin: center bottom;
    background-repeat: no-repeat;
}

.indexb-panel {
    box-sizing: border-box;
    height: 613px;
    padding-top: 50px;
    text-align: center;
    background-size: 540px 613px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.jsgm {
    background-color: #f5f0e6;
    background-size: 375px 257px;
    background-position: center 320px;
    background-image: url('./images/indexb_panel_jzgm.jpg');
}




/**
 * @file 基础代码
 */
body {
    min-height: 100%;
    max-width: 540px;
    padding: 0;
    margin: 0 auto;
}
.clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }