#footer_link {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}
#footer_link dl {
    float: left;
    width: 184px;
}

#footer_link dt {
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
}
#footer_link dd {
    line-height: 20px;
}












