.content_wrap {
    width: 9.0133rem;
    margin: 0 auto;
    padding-top: 0.1867rem;
}

.listItem {
    height: 2.32rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    background: url(./images/Items-List_0001s_0001s_0000_Shape-6.png) cover no-repeat;
    box-shadow: 0rem 0.0267rem 0.0267rem 0rem rgba(254, 0, 0, 0.33);
    border-radius: 0.2667rem;
}

.logo {
    width: 1.4133rem;
    height: 1.4133rem;
    box-shadow: 0rem 0rem 0.04rem 0rem rgba(0, 0, 0, 0.24);
    margin: 0.4667rem 0.2667rem 0.32rem 0.2667rem;
}

.logo img {
    width: 100%;
}

.info {
    margin-top: 0.2133rem;
    margin-left: 0.32rem;
    margin-right: 0.32rem;
    width: 7.9467rem;
    display: flex;
    justify-content: space-between;
}

.list_name {
    width: 100%;
    height: 0.7067rem;
    font-family: Lato-Regular;
    font-size: 0.72rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.7067rem;
    margin-top: 0.4133rem;
    letter-spacing: 0rem;
    color: #3c3c3c;
    text-align: right;
}

.info_details p {}

.info_details_title {
    width: 3.6133rem;
    height: 0.4533rem;
    font-family: Lato-Bold;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4533rem;
    letter-spacing: 0rem;
    color: #3c3c3c;
    margin-bottom: 0.1467rem;
}

.info_details_subtitle {
    width: 2.48rem;
    height: 0.4533rem;
    font-family: Lato-Regular;
    font-size: 0.2933rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4533rem;
    letter-spacing: 0rem;
    color: #3c3c3c;
    margin-bottom: 0.2rem;
}

.roundTag {
    display: block;
    width: 1.9733rem;
    height: 0.5333rem;
    line-height: 0.5067rem;
    font-size: 0.3333rem;
    text-align: center;
    color: #000000;
    background: url('../images/Items-List_0002s_0000s_0005_Shape-11-copy.png') cover no-repeat;
}

.info_details_tips {
    display: flex;
    justify-content: space-between;
    width: 2.72rem;
}

.loveBtn {
    display: block;
    width: 0.5067rem;
    height: 0.4667rem;
}

.loveBtn img {
    width: 100%;
}

.info_action .roundTag:first-child {
    margin-bottom: 0.16rem;
}